* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #F1F7FA;
	margin: 0;
}

.login, .register {
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}

@media(max-width: 400px) {
	.login, .register {
		width: auto;
		background-color: #ffffff;
		box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
		margin: 100px auto;
	}
		
}

.login h1, .register h1 {
	text-align: center;
	color: #3274D6;
	font-size: 24px;
	padding: 20px 0;
	border-bottom: 1px solid #dee0e4;
}

.login .links, .register .links {
	display: flex;
	justify-content: center;
	padding: 0 15px;
}

.login .links a, .register .links a {
	color: #ADB2BA;
	text-decoration: none;
	display: inline-flex;
	padding: 0 10px 10px;
	font-weight: bold;
}

.login .links a:hover, .register .links a:hover {
	color: #9DA3AC;
}

.login .links a.active, .register .links a.active {
	border-bottom: 3px solid #3274D6;
	color: #3274D6;
}

.login form, .register form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}

.login form label, .register form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #3274D6;
	color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
	width: 310px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}

.login form input[type="submit"], .register form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #3274D6;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
	background-color: #2868C7;
	transition: background-color 0.2s;
}

.navtop {
	background-color: #3274D6;
	height: 60px;
	width: auto;
	border: 0;
	display: flex;
	justify-content: center;
}

.navtop div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop a {
	flex: 0 0 auto;
	
}

.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}

.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-weight: normal;
}

.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.navtop div a i {
	padding: 2px 8px 0 0;
}

.navtop div a:hover {
	color: #ffffff;
}

body.loggedin {
	background-color: #F3F4F7;
}

.content {
	width: auto;
	margin: 0 auto;
}

.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4A536E;
}

.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #ffffff;
}

.content > p table td, .content > div table td {
	padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4A536E;
	padding-right: 15px;
}

.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
	background-color: #2868C7;
	transition: background-color 0.2s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content > p table, .content > div table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.content > p table td, .content > div table td {
	padding: 10px;
	border-bottom: 1px solid #e0e0e3;
}

.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4A536E;
	padding-right: 15px;
	background-color: #f7f9fb;
}

.navtop div a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

.track audio {
	width: 95%;
	background-color: #e6f3ff;
}

.tracks-header {
	margin-left: 20px;
	font-size: 24px;
	color: #3274D6;
}

#track-search-container {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

#player-controls {
	display: flex;
	align-items: center;
	width: auto;
	height: auto;
}

#player-controls button,
#volume-slider {
	margin: 0 5px;
}

.player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-controls button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	color: #333;
	width: 40px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
	border-radius: 50%;
	line-height: 1;
	position: relative;
  }

.player-controls button::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 1;
  }
  
  .player-controls button i {
	position: relative;
	z-index: 2;
  }

  
  .player-controls button:hover {
    background-color: transparent;
    color: #333;
}
  
  .player-controls button:hover::before {
	background-color: transparent;
  }
  
  .player-controls button:hover i {
	color: #333;
  }

audio {
	display: none;
}
  
  .time-control {
	display: flex;
	align-items: center;
  }
  
  #current-time,
  #duration {
	margin: 0 10px;
  }
  
  #time-slider {
	flex: 1;
	height: 5px;
	background-color: #dcdcdc;
	border-radius: 5px;
	outline: none;
  }
  
  #time-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	background-color: #007bff;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
  }
  
  #time-slider::-moz-range-thumb {
	width: 16px;
	height: 16px;
	background-color: #007bff;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
  }

  #search-button {
	width: 30%
  }
  #search-input{
	width: 30%
  }
  
  .track-info{
	position: center;
  }

  @media (max-width: 390px) {
	.login layout {
		font-size: 2px;
	}
}
