{% extends 'layout.html' %} {% block content %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="/static/clear_script.js"></script>
</head>
<h2>Привет, {{ username }}.</h2>
<p>
	Вы попали на домашнюю страницу музыкального веб-приложения <strong>SongShack</strong>.<br><br>Если хотите послушать музыкальные композиции, то перейдите во вкладку <strong>"Музыка"</strong>.<br><br>Во вкладке <strong>"Избранное"</strong> расположены названия всех ваших композиций, которые вы сохранили.
</p>
{% endblock %}
