<!DOCTYPE html>
<html>
<head>
    <title>Список композиций</title>
</head>
<body>
    <h1>Список композиций</h1>
    <ul>
        {% for track in tracks %}
        <li>
            <strong>Track:</strong> {{ track.name }}<br>
            <strong>Artist:</strong> {{ track.artist_name }}<br>
            <audio controls>
              <source src="{{ track.audio }}" type="{{ track.audio_type }}">
              Your browser does not support the audio element.
            </audio>
        </li>
        {% endfor %}
    </ul>
</body>
</html>