{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h1> Список композиций</h1>
    <ul>
        {% for track in tracks %}
        <li class="track">
            <strong>Track:</strong> {{ track.name }}<br>
            <strong>Artist:</strong> {{ track.artist_name }}<br>
            <audio controls>
                <source src="{{ track.audio }}" type="{{ track.audio_type }}">
                Что-то пошло не так...
            </audio>
        </li>
        {% endfor %}
    </ul>
{% endblock %}